USE [GameDB]
GO
/****** Object:  Table [dbo].[MemberTest]    Script Date: 2020/5/31 下午 08:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberTest](
	[pk] [int] IDENTITY(1,1) NOT NULL,
	[id] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[age] [int] NULL,
	[email] [varchar](255) NULL,
	[games] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[picture] [varbinary](max) NULL,
	[registerTime] [datetime2](7) NULL,
	[googleId] [varchar](255) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK__MemberTe__321403CF4C765FC1] PRIMARY KEY CLUSTERED 
(
	[pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MemberTest] ON 

SET IDENTITY_INSERT [dbo].[MemberTest] OFF
